.wrapper {
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.main {
  height: 100%;
  overflow: scroll;
  position: relative;
  background: red;
  flex: 25;
  background: var(--light-gray);
  display: flex;
  width: 100vw;
}
